<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/all_s.css}" />
</head>
<body>
<p>Введите изменённые значения сообщения:</p>
<form th:method="POST" th:action="@{/mess/{id}(id=${obj.getId})}" th:object="${obj}">
    <input type="hidden" name="_method" value="PATCH">
    <label>Введите текст:
        <input type="text" th:field="*{text}" />
    </label>
    <label>Введите тэг:
        <input type="text" th:field="*{tag}" />
    </label>
    <input type="submit" value="Изменить" />
</form>
</body>
</html>